form div {
    display: block;
    width: min-content;
    margin-top: 15px;
}
label {
    display: block;
    margin-bottom: 7px;
}
button {
    margin-top: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: 0.9px groove black;
    padding: 5px 10px;
}
fieldset {
    width: min-content;
    border-radius: 5px;
}
form {
    width: min-content;
    display: block;
    margin: 0% auto;
}
